<%- layout('layout') %>
  <div class="my-5">
    <a href="/views/create" class="btn btn-primary">Add User</a>
  </div>
  <div class="row">
    <% for(let i=0;i<users.length;i++){%>
      <div class="card text-dark bg-light mb-3 mx-4" style="max-width: 20rem;">
        <div class="card-header text-center">
          <%= users[i].id %>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <%= users[i].username %>
          </h5>
          <p class="card-text">
            <%= users[i].email %>
          </p>
          <p class="card-text">
            <%= users[i].password %>
          </p>
        </div>
        <div class="card-footer">
          <a href="/views/update" class="btn btn-primary">Edit</a>
          <a href="/delete/<%=users[i].id%>" class="btn btn-danger">Delete</a>
        </div>
      </div>
      <%}%>
  </div>